/* partials/collapse */

.row { 
	vertical-align: top; 
	height:auto; 
	display: inline-block;
	font-size: 1.5rem;
}

.content {
	display: none; 
}

.show {
	display: none;
}

.hide:target + .show {
	display: inline;
}

.hide:target {
	display: none;
}

.hide:target ~ .content {
	display:inline;
}

@media print { 
	.hide, .show { 
		display: none; 
	} 
}

#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
  
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
  
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}