/* partials/extras */

/* breadcrumbs */
#breadcrumbs li {
	display: inline-block;
	margin-right: $gutter;
}

/* icons for links */
a[rel="external"]:not(.img):not(.social-icon):after {
	font-family: $icon-font-name;
	content: "\ea7e"; // external link icon
	text-decoration: none; // removes underline from the icon in some browsers
	display: inline-block; // removes underline from the icon in some browsers
	padding-left: .25rem;
}

a[href$='.pdf']:not(.img):after {
	font-family: $icon-font-name;
	content: "\eada"; // pdf icon
	text-decoration: none; // removes underline from the icon in some browsers
	display: inline-block; // removes underline from the icon in some browsers
	padding-left: .25rem;
}

a[rel="external"][href$='.pdf']:after {
	font-family: $icon-font-name;
	content: "\eada  \ea7e"; // external link icon
	text-decoration: none; // removes underline from the icon in some browsers
	display: inline-block; // removes underline from the icon in some browsers
	padding-left: .25rem;
}

/* format toggle */

/* hide the default marker */
details summary::-webkit-details-marker {
    display: none;
}

details summary:before {
	font-family: $icon-font-name;
    content: "\e625";
	padding-right: $gutter;
}

details {
	padding: 0 $gutter;
}

details[open] {
	summary:before {
		content: "\e623";
	}
}

details summary {
	color: $main-link;
	margin: 0 $neg-gutter $gutter;
	padding: $gutter;
	font-size: 1.25rem;
	font-family: $typeface-display;
	background-color: $t-details-bg;
	&:hover {
		cursor: pointer;
		background-color: $main-hflink-bg;
	}
}

/* donate button */
a.donate {
	padding: $gutter;
	background-color: $d-button-bg;
	color: $d-button-t;
}

.social-link {
    padding: 5px 10px;
    color: white;
    font-size: 12px;
}

.social-link:hover,.social-link:active {
    color: white;
}

.social-twitter {
    background: #41B7D8;
}

.social-twitter:hover,.social-twitter:active {
    background: #279ebf;
}

.social-facebook {
    background: #3B5997;
}

.social-facebook:hover,.social-facebook:active {
    background: #2d4372;
}

.social-googleplus {
    background: #D64937;
}

.social-googleplus:hover,.social-googleplus:active {
    background: #b53525;
}

.social-email {
    background: #444;
}

.social-eamil:hover,.social-email:active {
    background: #222;
}

.social-social {
    margin: 20px 0px 25px 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
}
