// images

article img {
	max-width: 100%;
	height: auto;
}

// give images that are links the class 'img'
a.img { display: block }

.img img { margin: $gutter; }

@include minw(856px) {
	.landscape {
		width: 50%;
	}
}

