// images

article img {
	max-width: 100%;
	height: auto;
}

a.img { display: block }

.img img { padding: $gutter; }

article img.alignright {
	margin: 0 0 $gutter $gutter;
}

@include minw(856px) {
	.landscape {
		width: 50%;
	}
}

