#primary, #primary-left, #primary-right, #primary-middle {
	width: 100%;
}

#primary, #primary-left, #primary-right, #primary-middle, aside {
	padding: 0 1em;
}

@include maxw(479px) {
	aside, #primary, #primary-left, #primary-right, #primary-middle {
		width: 100%;
	}
}
@include minmax(480px,767px) {
	aside {
		width: 40%;
		// background-color: orange;
	}
	#primary-left, #primary-right {
		width: 60%;
		background-color: #f8f8f8;
	}
}
@include minw(480px) { // = 30rem
	#primary-left, .sidebar.left, #primary-middle {
		float: left;
	}
	#primary-right, .sidebar.right {
		float: right;
	}
}
@include minw(768px) { // = 48rem
	aside {
		width: 30%;
		// background-color: goldenrod;
	}
	#primary-left, #primary-right {
		width: 70%;
	}
	#primary-middle {
		width: 40%;
		float: left;
	}
}

// page-specific stuff

.cf {
	> .pie-chartify, > .piechart {
		float: left;
		margin: 0 $line-ht $line-ht 0;
	}
}