// make sure that all the article content stays in the container
article {
	@include cf;
//	background-color: aquamarine;
}

#primary, #primary-left, #primary-right, #primary-middle {
	width: 100%;
}

#primary, #primary-left, #primary-right, #primary-middle, aside {
	padding: 0 1em;
}

@include maxw(479px) {
	aside, #primary, #primary-left, #primary-right, #primary-middle {
		width: 100%;
	}
}
@include minmax(480px,767px) {
	aside {
		width: 40%;
	}
	#primary-left, #primary-right {
		width: 60%;
		background-color: #f8f8f8;
	}
	
}
@include minw(480px) { // = 30rem
	#primary-left, .sidebar.left, #primary-middle {
		float: left;
	}
	#primary-right, .sidebar.right {
		float: right;
	}
}
@include minw(768px) { // = 48rem
	aside {
		width: 30%;
		// background-color: goldenrod;
	}
	#primary-left, #primary-right {
		width: 70%;
	}
	#primary-middle {
		width: 40%;
		float: left;
	}
	.two-thirds {
		width: 65%;
		float: left;
		margin-right: 10px;
	}
	.one-third {
		width: 32%;
		float: left;
		background-color: aliceblue;
		// padding: 10px;
		// margin: 8px;
		position: relative
	}
}
@include maxw(587px) {
	.portrait-test {
		// width: 50%;
		float: right;
		margin: 0 0 10px 10px;
	}
	.landscape-test {
		width: 100%;
		float: right;
		margin: 0 0 10px 10px;
	}
}

@include minmax(588px,855px) {
	.portrait-test {
		width: 50%;
		float: right;
		margin: 0 0 10px 10px;
	}
	.landscape-test {
		width: 100%;
		float: right;
		margin: 0 0 10px 10px;
	}
}
@include minw(856px) {
	.portrait-test {
		width: 33%;
		float: right;
		margin: 0 0 10px 10px;
	}
	.landscape-test {
		width: 50%;
		float: right;
		margin: 0 0 10px 10px;
	}
}


// page-specific stuff

.cf {
	> .pie-chartify, > .piechart {
		float: left;
		margin: 0 $line-ht $line-ht 0;
	}
}

.middle {
	clear: both;
	margin: 20px 0;
}