/* partials/layout */

// make sure that all the article content stays in the container
article {
	@include cf;

//	possibly dodgy - check!
	overflow: visible;
	z-index: 1;

	// link styling within articles
	a {

		border-bottom: 1px dotted $main-link;

		&:hover, &:focus, &:active {
			border-style: solid;
		}

		// give images that are links the class 'img'
		.img {
			display: block;

			border-style: none;

			&:hover {
				background-color: #fff;
				border-style: none;
			}
		}

		.img img { margin: $gutter; }
	}
}

#primary, #primary-left, #primary-right, #primary-middle {
	width: 100%;
}

aside, #primary, #primary-left, #primary-right, #primary-middle {
	padding: 0 1rem;
}

@include maxw( 600px ) {
	aside, #primary, #primary-left, #primary-right, #primary-middle {
		width: 100%;
		padding: 0;
	}
}
@include minmax(601px, $med- ) {
	aside {
		width: 40%;
	}
	#primary-left, #primary-right {
		width: 60%;
	}

}
@include minw( 601px ) {
	#primary-left, .sidebar.left, #primary-middle {
		float: left;
	}
	#primary-right, .sidebar.right {
		float: right;
	}
}
@include minw( $med ) {
	aside {
		width: 30%;
	}
	#primary-left, #primary-right {
		width: 70%;
	}
	#primary-middle {
		width: 40%;
		float: left;
	}
}


// page-specific stuff
.cf {
	> .pie-chartify, > .piechart {
		float: left;
		margin: 0 $line-ht $line-ht 0;
	}
}
