/* partials/main */


// General article body styling
article a {

	border-bottom: 1px dotted $main-link;

	&:hover, &:focus, &:active {
		border-style: solid;
	}
	.img {
		border: 1px dotted $main-link;
	}

}
