/* partials/menu */

/*
nav li > ul,
nav li > ol {
	margin: 0;
	list-style: none;
}
*/

$l-sub-w: 12.5rem;

#navlink {
	display: none;
	cursor: pointer;
}

#navlinkA {
	display: block;
	padding: $gutter;
	border-bottom: 1px solid #fff;
}

.expand {
	font-family: $icon-font-name;
	color: $h-menu-link;
	min-width: 1rem;
	margin-top: $neg-gutter;
	margin-right: $neg-gutter;
	padding: 0 $gutter;
	text-align: center;
}

/*
#navlink a:after {
	content: "\e625";
}

.show ~ #navlink a:after {
	content: "\e623";
}

#navlink.open a:after {
//	content: "\e623";
}
*/
nav {
	background: $h-menu-bg;
	margin: $gutter 0 $line-ht;
	width: 100%;
	clear: right;
	@include cf;

	ul {
		margin: 0;
		list-style-type: none;
		> li {
			overflow: visible;
//			display: inline-block;
			position: relative;
		}
	}

	a {
		display: block;
		color: $h-menu-link;
		background-color: $h-menu-link-bg;
		padding: $gutter;

		&:hover, &:focus, &:active {
			color: $h-menu-hfa-link;
			background-color: $h-menu-hfa-link-bg;
		}
		&:visited {
			color: $h-menu-link;
		}
	}

	.current-menu-item > a {
		color: $h-menu-current;
		background-color: $h-menu-current-bg;
	}
	.sub-menu .current-menu-item > a {
		border-left: .25rem solid $h-menu-current-hilite;
	}

	li:hover {
		background-color: darken($h-menu-bg, 10%);
		> .sub-menu {
			left: auto;
		}
	}

	.sub-menu {
		left: -9999px;
		top: 2 * $line-ht;
		position: absolute;
		z-index: 2;
		background-color: inherit;
		li {
			border-top: 1px solid lighten($h-menu-bg, 15%);
			background: $h-menu-bg;
			display: block;
			&:hover {
				background-color: darken($h-menu-bg, 10%);
			}
		}
	}
}


@include minw($med) {
	#navlink {
		display: none;
	}
	nav {

		ul > li {
			float: left;
			display: inline-block;

		}
		li li {
			width: $l-sub-w;
		}
		.expand {
			display: inline-block;
		}
	}
}

// responsive
@include maxw($med-) {
	#navlink {
		display: block;
		a:hover, a:focus {
			color: $selcn;
		}
	}

	nav {
		.expand {
			float: right;
			line-height: 3rem;
		}
		ul {
			width: 100%;
			a {
				display: block;
				border-bottom: 1px solid #F8F8F8;
			}
			li {
				li a {
					padding-left: 2rem;
				}
				li li a {
					padding-left: 4rem;
				}
			}
		}
	}
	.js nav ul, .js nav .show ul {
		display: none;
	}
	.js nav .show, .js nav .show .show  {
		display: block;
	}
}

#menu-item-1792 a {
	background-color: $h-menu-donate-bg;
}
