/* partials/sidebar */

.sidebar {}

aside ul {
	li {
		margin: 0 0 10px 0;
		list-style-type: none;
		background-color: $s-button-bg;
		a {
			padding: 8px 10px;
			display: block;
			}
		}
		
	ul li {
		margin: 0 0 5px 0;
		list-style-type: square;
		background-color: $body-bg;
		a {
			padding: 0 10px;
			display: block;
			}
		}
}