// modules/fonts
@font-face {
	font-family: 'symbolise';
	src:url('fonts/symbolise.eot?-83ytpl');
	src:url('fonts/symbolise.eot?#iefix-83ytpl') format('embedded-opentype'),
		url('fonts/symbolise.ttf?-83ytpl') format('truetype'),
		url('fonts/symbolise.woff?-83ytpl') format('woff'),
		url('fonts/symbolise.svg?-83ytpl#symbolise') format('svg');
	font-weight: normal;
	font-style: normal;
}
