// modules/mixins

@mixin reset-box {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin minw($min) {
	@media only screen and (min-width: $min) {
		@content;
	}
}

@mixin maxw($max) {
	@media only screen and (max-width: $max) {
		@content;
	}
}
@mixin minmax($min, $max) {
	@media only screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

// micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include has-layout;
}

@mixin background-grid( $size, $colour ) {
	background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, $colour), color-stop(5%, rgba(204, 204, 204, 0)));
	background-image: -webkit-linear-gradient(bottom, $colour 5%, rgba(204, 204, 204, 0) 5%);
	background-image: -moz-linear-gradient(bottom, $colour 5%, rgba(204, 204, 204, 0) 5%);
	background-image: -o-linear-gradient(bottom, $colour 5%, rgba(204, 204, 204, 0) 5%);
	background-image: linear-gradient(bottom, $colour 5%, rgba(204, 204, 204, 0) 5%);
	-webkit-background-size: 100% $size;
	-moz-background-size: 100% $size;
	-o-background-size: 100% $size;
	background-size: 100% $size;
	background-position: left top;
}

