/* modules/typo */

h1, h2, h3, h4, h5, h6, caption {
	font-family: $typeface-display;
}

/**
$h1-font-size: 4.25rem;
$h1-lines: 3;
$h1-line-height: $line-ht * $h1-lines;

$h2-font-size: 2.625rem;
$h2-lines: 2;
$h2-line-height: $line-ht * $h2-lines;

$h3-font-size: 1.625rem;
$h3-lines: 2;
$h3-line-height: $line-ht * $h3-lines;

$h4-font-size: 1.25rem;
$h4-lines: 1;
$h4-line-height: $line-ht * $h4-lines;
*/

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0 0 $line-ht;
}

h1 {
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	line-height: 2*$line-ht;
}

h3 {
	font-size: 2rem;
	line-height: 2*$line-ht;
}

h4, caption {
	font-size: 1.5rem;
	line-height: 2*$line-ht;
}

h5 {
	font-size: 1.25rem;
	line-height: $line-ht;
}

h6 {
	font-size: 1.125rem;
	line-height: $line-ht;
}

//h2 { @include adjust-font-size-to(36px); }
//h3 { @include adjust-font-size-to(30px); }
//h4, caption { @include adjust-font-size-to(24px); }
//h5 { @include adjust-font-size-to(21px); }
//h6 { @include adjust-font-size-to(18px); }
/* standard text size is 16px */
//	aside { @include adjust-font-size-to(14px); }

@media only screen and (max-width: 479px) {
	h1 { @include adjust-font-size-to(36px); }
	h2 { @include adjust-font-size-to(30px); }
	h3 { @include adjust-font-size-to(24px); }
	h4 { @include adjust-font-size-to(22px); }
	h5 { @include adjust-font-size-to(20px); }
	h6 { @include adjust-font-size-to(18px); }
}
