// modules/variables


// Typography

$base-font-size: 16px;
$line_ht : 1.5em;
$base-line-height: 24px;
$gutter: .75em;

$base-font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size: 1em;
$line-height-base: 1.5;

// Grid
$wrapper-width: 1280px;

$padding-horizontal-base: $gutter;
$padding-vertical-base: $gutter;
$margin-horizontal-base: $gutter;
$margin-vertical-base: $gutter;
$margin-horizontal-large: $line-ht;
$margin-vertical-large: $line-ht;